main{
    margin: 0 auto;
    width: 450px;
    height: 530px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 0 10px 20px;
    background: linear-gradient(to top, #15f5ea, #0d110e);
    border: 50px solid transparent; 
    border-radius: 15px; 
}

button{
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
}

section{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #2e3831, #2e8b87);  
}

#player, #computer{
    padding-top: 30px;
    margin: 10px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: azure;   
}

#player{border: solid 1px orange;}

#computer{border: solid 1px blue;}

#score{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    border: solid 1px black;
    border-radius: 5px;
    width: 350px;
    margin: 0 auto;
    font-weight: 700;
    position: relative; top:30px
}

#result{
    font-weight: 700;
    font-size: 20px;
    color: red;
    margin-top: 10px;
}